body, html {
    height: 600px;
    width: 400px;
    overflow: hidden;
    background: ;
}
body {
  /*padding: 20px;*/

}

h1,h2{
	text-align: center;
}
.panel-body {
    max-height: 300px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.panel-footer, .pager{
	padding-top: 5px;
    padding-bottom: 5px;
}

.panel-primary{
    max-height: 600px;
}

#main_div{
	margin-top: 10px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 4px ;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.panel{
	margin-top: 20px;
}

#add_comment{
	cursor: pointer;
	margin-left: 6px;
}
