body {

margin:auto; 
margin-top:20px; 
margin-bottom:20px; 
    height: 500px;
    width: 400px;
    overflow: auto;
background-image:url(../images/body_bg.jpg); 
background-repeat:repeat-x;
}
body {
  /*padding: 20px;*/
}
#logo       {padding-left: 50px; border-bottom-color:#CCCCCC; border-bottom-width:medium; border-bottom-style:solid; padding-bottom:15px;  background-image:url(../images/icon-38.png); background-repeat:no-repeat; background-position:185px 0px;}

#logo h1        {font-weight:normal; font-size:170%; margin:0; padding:0; color:#225799; }
#container  {width:200px;}
#holder     {width:100%; padding:20px 20px 5px 20px; background:#FFFFFF; text-align:left; margin-bottom: 10px;}
#holder2     {width:100%; padding:20px 20px 5px 20px; background:#FFFFFF; text-align:left; }
.newsItem h1    {color:#225799; margin:0 0 10px 0; padding:0; font-size:130%; font-weight:normal; }
.newsItem   {margin-top: 10px; padding:20px 20px 5px 20px; background:#FEFFD5; border:1px solid #FFEB70; font-size:90%; margin-bottom:20px; }


.panel-primary{
    max-height: 600px;
}
.comment-border{
	border-bottom: 1px solid #eee;
	background-color: #FEFFD5;
	padding:10px;	
}
.box-sh{
	padding:10px;
	margin-top: 20px;
	background-color: #fff;
}
.text-right{
	color:#aaa;
}
.form-control{
	margin-top:5px;
}